@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary */
  --primary: #9a83ff;
  --primary-transparent: #9a83ffb2;
  --primary-bg: #611eb5;
  --primary-hl: #44008b;
  --primary-hl-alpha: #44008b4d;
  --primary-shadow: #5300aa;
  --primary-alpha: #5300aa11;

  /* Secondary */
  --secondary: #3cc2ed;
  --secondary-bg: #1a006b;
  --secondary-hl: #1554b1;
  --secondary-shadow: #2b0057;

  /* Layout */
  --navbar-size: 100px;
}

@media (max-width: 768px) {
  :root {
    --navbar-size: 80px;
  }
}
